:root{
    --main-color: #E0756B;
    --secundary-color:#E6B7B3;
    --rosa-bebe: #E6C3D3;
    --bordo: #66384D;
    --complementario: #637665;
    --fontsub: julius sans one 
    --fonth1: gruppo
    --fontnav: raleway
    --fontoverlay: poiret one
    --step--2: clamp(0.91rem, 0.89rem + 0.10vw, 0.96rem);
    --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.20rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem);
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
    
}

.navbar-collapse {
    justify-content: end;
}

.navbar-brand {
    font-family: gruppo;
    font-size: var(--step-3);
}

h1, h2, h3 {
    font-family: gruppo;
    font-weight: bold;
}

p, li, a {
font-family: raleway;
}

img, svg {
    margin-top: 20px;
}


#container_body {
    background-color: var(--rosa-bebe)
}

.info {
text-decoration: none;

}

.bg-light {
    --bs-bg-opacity: 0.6;
}

.c-a{
    color: var(--complementario);
}

.a-r{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.8;
}

.a-car{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
}

.a-sec{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1.5;
}

/* CARTAS SERVICIOS */ 

.card-text{
    list-style: none;
    padding: 0;

}
